.app {
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  flex: 1px;
  }
.app__body{
  display: flex;
  margin: 0px;
}
