.inputOption{
    display: flex;
    align-items: center;
    margin-top: 0px;
    color: gray;
    padding: 8px;
    cursor: pointer;
}
.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;

}
.inputOption > h4{
    margin-left: 5px;
}